<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALayer.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DEL1-LHP-N82146;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALayer.Properties.Settings.Week5ConnectionString"
            connectionString="Data Source=DEL1-LHP-N82146;Initial Catalog=Week5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALayer.Properties.Settings.Week5ConnectionString1"
            connectionString="Data Source=DEL1-LHP-N82143\MSSQLSERVER01;Initial Catalog=Week5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>